@use 'styles/font';

.LeftSubmenuItem {
  border-radius: 8px;
  display: block;
  padding-bottom: 3px;
  padding-left: 28px;
  padding-top: 3px;
  text-decoration: none;

  &:focus:not(&--active),
  &:hover {
    background: var(--color-neutral-050);
  }

  &--active,
  &--active:hover {
    background: var(--color-neutral-075);
  }

  &--with-sub-label {
    padding-bottom: 6px;
    padding-top: 6px;
  }

  &__label {
    color: var(--color-neutral-900);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__sub-label {
    @include font.b3;
    color: var(--color-neutral-500);
    margin-bottom: 3px;
  }
}
