:root {
  --color-black: #000;
  --color-primary: #2c3967;
  --color-progress-bar: #17cead;
  --color-white: #fff;

  --color-neutral-050: #f7fafc;
  --color-neutral-075: #f1f6fa;
  --color-neutral-100: #e2e9ef;
  --color-neutral-200: #c1cad2;
  --color-neutral-300: #a3afb9;
  --color-neutral-400: #8796a2;
  --color-neutral-500: #697986;
  --color-neutral-600: #4f5e6b;
  --color-neutral-700: #3c4b57;
  --color-neutral-800: #2a3945;
  --color-neutral-900: #1a2936;

  --color-gray-050: #f7fafc;
  --color-gray-075: #eef2f6;
  --color-gray-100: #e3e8ee;
  --color-gray-200: #c1c9d2;
  --color-gray-300: #a3acb9;
  --color-gray-400: #8792a2;
  --color-gray-500: #697386;
  --color-gray-600: #4f566b;
  --color-gray-700: #3c4257;
  --color-gray-800: #2a2f45;
  --color-gray-900: #1a1f36;

  --color-blue-050: #f5fbff;
  --color-blue-100: #d6ecff;
  --color-blue-200: #a4cdfe;
  --color-blue-300: #7dabf8;
  --color-blue-400: #6c8eef;
  --color-blue-500: #556cd6;
  --color-blue-600: #3d4eac;
  --color-blue-700: #2f3d89;
  --color-blue-800: #212d63;
  --color-blue-900: #131f41;

  --color-cyan-050: #edfdfd;
  --color-cyan-100: #c4f1f9;
  --color-cyan-200: #7fd3ed;
  --color-cyan-300: #4db7e8;
  --color-cyan-400: #3a97d4;
  --color-cyan-500: #067ab8;
  --color-cyan-600: #075996;
  --color-cyan-700: #06457a;
  --color-cyan-800: #093353;
  --color-cyan-900: #042235;

  --color-green-050: #efffed;
  --color-green-100: #cbf4c9;
  --color-green-200: #85d996;
  --color-green-300: #33c27f;
  --color-green-400: #1ea672;
  --color-green-500: #09825d;
  --color-green-600: #0e6245;
  --color-green-700: #0d4b3b;
  --color-green-800: #0b3733;
  --color-green-900: #082429;

  --color-yellow-050: #fcf9e9;
  --color-yellow-100: #f8e5b9;
  --color-yellow-200: #efc078;
  --color-yellow-300: #e5993e;
  --color-yellow-400: #d97917;
  --color-yellow-500: #bb5504;
  --color-yellow-600: #983705;
  --color-yellow-700: #762b0b;
  --color-yellow-800: #571f0d;
  --color-yellow-900: #3a1607;

  --color-orange-050: #fffaee;
  --color-orange-100: #fee3c0;
  --color-orange-200: #f8b886;
  --color-orange-300: #f5925e;
  --color-orange-400: #e56f4a;
  --color-orange-500: #c44c34;
  --color-orange-600: #9e2f28;
  --color-orange-700: #7e1e23;
  --color-orange-800: #5d161b;
  --color-orange-900: #420e11;

  --color-red-050: #fff8f5;
  --color-red-100: #fde2dd;
  --color-red-200: #fbb5b2;
  --color-red-300: #fa8389;
  --color-red-400: #ed5f74;
  --color-red-500: #cd3d64;
  --color-red-600: #a41c4e;
  --color-red-700: #80143f;
  --color-red-800: #5e1039;
  --color-red-900: #420828;

  --color-purple-050: #fff8fe;
  --color-purple-100: #fce0f6;
  --color-purple-200: #f0b4e4;
  --color-purple-300: #e28ddc;
  --color-purple-400: #c96ed0;
  --color-purple-500: #a450b5;
  --color-purple-600: #7b3997;
  --color-purple-700: #5b2b80;
  --color-purple-800: #401d6a;
  --color-purple-900: #2d0f55;

  --color-violet-050: #f8f9fe;
  --color-violet-100: #e6e6fc;
  --color-violet-200: #c7c2ea;
  --color-violet-300: #b0a1e1;
  --color-violet-400: #9c82db;
  --color-violet-500: #8260c3;
  --color-violet-600: #61469b;
  --color-violet-700: #4b3480;
  --color-violet-800: #352465;
  --color-violet-900: #1f184e;
}
