@use "font";

* {
  box-sizing: border-box;
  line-height: var(--line-height-default);
}

body {
  @include font.b1;
  background: var(--color-neutral-075);
  color: var(--color-primary);
  margin: auto;
}

a {
  color: var(--color-secondary);
}

b,
strong {
  @include font.font-weight-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height-default);
  margin: 0;
}

h1 {
  @include font.h1-regular;
}

h2 {
  @include font.h2-regular;
}

h3 {
  @include font.h3-regular;
}

h4 {
  @include font.h4-regular;
}

p {
  @include font.b1;
  margin: 0 0 20px 0;
}
