:root {
  --font-family-default: Inter, sans-serif;
  --font-family-mono: JetBrainsMono, monospace;
  --font-size-d1: 42px;
  --font-size-d2: 36px;
  --font-size-h1: 24px;
  --font-size-h2: 20px;
  --font-size-h3: 16px;
  --font-size-h4: 14px;
  --font-size-b1: 14px;
  --font-size-b2: 14px;
  --font-size-b3: 12px;
  --font-size-b4: 12px;
  --font-size-b5: 10px;
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 400;
  --line-height-default: 1.25;
}

@mixin font-family-default {
  font-family: var(--font-family-default);
}

@mixin font-family-mono {
  font-family: var(--font-family-mono);
}

@mixin font-weight-bold {
  font-weight: var(--font-weight-bold);
}

@mixin font-weight-semi-bold {
  font-weight: var(--font-weight-semi-bold);
}

@mixin font-weight-medium {
  font-weight: var(--font-weight-medium);
}

@mixin font-weight-regular {
  font-weight: var(--font-weight-regular);
}

@mixin font-weight-light {
  font-weight: var(--font-weight-light);
}

@mixin d1 {
  @include font-family-default;
  font-size: var(--font-size-d1);
}

@mixin d2 {
  @include font-family-default;
  font-size: var(--font-size-d2);
}

@mixin h1 {
  @include font-family-default;
  font-size: var(--font-size-h1);
}

@mixin h2 {
  @include font-family-default;
  font-size: var(--font-size-h2);
}

@mixin h3 {
  @include font-family-default;
  font-size: var(--font-size-h3);
}

@mixin h4 {
  @include font-family-default;
  font-size: var(--font-size-h4);
}

@mixin b1 {
  @include font-family-default;
  font-size: var(--font-size-b1);
  font-weight: var(--font-weight-regular);
}

@mixin b2 {
  @include font-family-mono;
  font-size: var(--font-size-b2);
  font-weight: var(--font-weight-regular);
}

@mixin b3 {
  @include font-family-default;
  font-size: var(--font-size-b3);
  font-weight: var(--font-weight-regular);
}

@mixin b4 {
  @include font-family-mono;
  font-size: var(--font-size-b4);
  font-weight: var(--font-weight-regular);
}

@mixin b5 {
  @include font-family-default;
  font-size: var(--font-size-b5);
  font-weight: var(--font-weight-regular);
}

@mixin d1-bold {
  @include d1;
  @include font-weight-bold;
}

@mixin d1-semi-bold {
  @include d1;
  @include font-weight-semi-bold;
}

@mixin d1-medium {
  @include d1;
  @include font-weight-medium;
}

@mixin d1-regular {
  @include d1;
  @include font-weight-regular;
}

@mixin d1-light {
  @include d1;
  @include font-weight-light;
}

@mixin d2-bold {
  @include d2;
  @include font-weight-bold;
}

@mixin d2-semi-bold {
  @include d2;
  @include font-weight-semi-bold;
}

@mixin d2-medium {
  @include d2;
  @include font-weight-medium;
}

@mixin d2-regular {
  @include d2;
  @include font-weight-regular;
}

@mixin d2-light {
  @include d2;
  @include font-weight-light;
}

@mixin h1-bold {
  @include h1;
  @include font-weight-bold;
}
@mixin h1-medium {
  @include h1;
  @include font-weight-medium;
}

@mixin h1-regular {
  @include h1;
  @include font-weight-regular;
}

@mixin h2-bold {
  @include h2;
  @include font-weight-bold;
}

@mixin h2-medium {
  @include h2;
  @include font-weight-medium;
}

@mixin h2-regular {
  @include h2;
  @include font-weight-regular;
}

@mixin h3-bold {
  @include h3;
  @include font-weight-bold;
}

@mixin h3-medium {
  @include h3;
  @include font-weight-medium;
}

@mixin h3-regular {
  @include h3;
  @include font-weight-regular;
}

@mixin h4-bold {
  @include h4;
  @include font-weight-bold;
}

@mixin h4-medium {
  @include h4;
  @include font-weight-medium;
}

@mixin h4-regular {
  @include h4;
  @include font-weight-regular;
}
