@use 'styles/font';

.LeftSubmenu {
  margin-bottom: 42px;

  &__header-container {
    @include font.h3-regular;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__left-icon {
    margin-right: 12px;
    width: 16px;
  }

  &__left-items {
    align-items: center;
    display: flex;
  }

  &__title {
    color: var(--color-neutral-600);
    cursor: default;
    display: block;
    flex: 1;
    user-select: none;
  }
}
